@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white-color: #ffffff;
  --primary-color: #00cc99;
  --secondary-color: #0066cc;
  --section-bg-color: #fff;
  --custom-btn-bg-color: #0066cc;
  --custom-btn-bg-hover-color: #00cc99;
  --dark-color: #000000;
  --p-color: #52da37;
  --border-color: #7fffd4;
  --link-hover-color: #0066cc;
  --body-font-family: "Montserrat", sans-serif;
  --title-font-family: "Sono", sans-serif;
  --h1-font-size: 58px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 16px;
  --menu-font-size: 18px;
  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 500;
}

body {
  /* background-color: var(--white-color); */

  background-color: #fff;
  font-family: var(--body-font-family);
  /* background-image: url(''), linear-gradient(#7990a2,#FFFFFF); */
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-weight: var(--font-weight-semibold);
}
hr {
  color: #fff;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  margin-top: 150px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-title-wrap {
  position: relative;
}

.section-title-wrap::after {
  content: "";
  background: var(--section-bg-color);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.section-title {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  padding: 10px 25px;
}

.section-padding {
  padding-top: 30px;
  padding-bottom: 100px;
}

main {
  position: relative;
  z-index: 1;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.section-overlay + .container {
  position: relative;
}

/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--primary-color);
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
  color: var(--primary-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-image: url("../images/templatemo-wave-header.jpg"),
    linear-gradient(#348cd2, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 480px;
  position: relative;
}

.site-header h2 {
  color: var(--white-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  background-color: transparent;
  z-index: 9;
  margin-top: 20px;
  /* padding-bottom: 20px; */
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: var(--dark-color);
}

.navbar .logo-image {
  width: 100px;
}

.logo-image {
  width: 120px;
  height: auto;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  display: inline-block;
}

.navbar-brand span {
  font-family: var(--title-font-family);
}

.navbar-nav .nav-link {
  display: inline-block;
  /* color: var(--p-color); */
  font-family: var(--title-font-family);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 18px;
  padding-left: 18px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-bg-color);
  font-family: var(--title-font-family);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--secondary-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--menu-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}

.navbar .custom-border-btn {
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.navbar .custom-border-btn:hover {
  background: var(--dark-color);
  color: var(--white-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
  /* color:black; */
  background-color:var(--secondary-color);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.main {
  height: 600px;
  width: 100%;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main .wrapper,
.main .slide {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slide {
  overflow: hidden;
}

.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.158);

}

.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}

.image-data span.text {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-data h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.button {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 8px;
  color: #fff;
  margin-top: 10px;
  transition: all 0.4s ease;
  font-weight: 500;
  background: var(--primary);
}

a.button i {
  font-size: 12px;
  margin-left: 4px;
  transition: 0.4s ease-in-out;
}

a.button:hover i {
  transform: translate(2px, 0);
}

a.button:hover {
  background: var(--blue);
  color: white;
}

.nav-btn {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  transition: 0.4s ease;
}

.nav-btn:hover {
  background: #a8a8a8;
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.nav-btn::before,
.nav-btn::after {
  font-size: 16px;
  font-weight: 800;
  color: #1d1d1d;
}



@media screen and (min-width: 1369px) {
  .main {
    height: 750px;
    width: 100%;
    max-width: 1320px;
  }
}

@media screen and (max-width: 1369px) {
  .main {
    height: 579px;
    width: 100%;
  }
}

@media screen and (max-width: 1121px) {
  .main {
    height: 500px;
    width: 100%;
  }

  .image-data h2 {
    font-size: 36px;
  }

  a.button {
    padding: 7px;
    border-radius: 5px;
    margin-top: 8px;
    transition: all 0.3s ease;
    font-weight: 400;
  }
}

@media screen and (max-width: 991px) {
  .main {
    height: 380px;
    width: 100%;
  }

  .image-data h2 {
    font-size: 32px;
  }

  a.button {
    padding: 5px;
    border-radius: 4px;
    margin-top: 6px;
    transition: all 0.3s ease;
    font-weight: 400;
  }
}

@media screen and (max-width: 992px) {
  .nav-btn {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .main {
    height: 280px;
    width: 100%;
  }

  .image-data span.text {
    font-size: 12px;
  }

  .image-data h2 {
    font-size: 23px;
  }

  a.button {
    padding: 3px;
    border-radius: 4px;
    margin-top: 4px;
    transition: all 0.3s ease;
    font-weight: 400;
    font-size: 12px;
  }

  a.button i {
    font-size: 11px;
  }

  .nav-btn {
    display: none;
  }
}

/*---------------------------------------
  CAROUSEL        
-----------------------------------------*/
.hero-section {
  /* background-image: url(''), linear-gradient(#348CD2, #FFFFFF); */
  background-repeat: no-repeat;
  background-size: 108% 100vh;
  background-position: top;
  padding-top: 160px;
}

.owl-carousel {
  text-align: center;
}

.owl-carousel-image {
  display: block;
}

.owl-carousel .owl-item .owl-carousel-verified-image {
  display: inline-block;
  width: 30px;
  height: auto;
  position: relative;
  right: 5px;
}

.verified-image {
  display: inline-block;
  width: 20px;
  height: auto;
}

.owl-carousel .owl-item {
  opacity: 0.35;
}

.owl-carousel .owl-item.active.center {
  opacity: 1;
}

.owl-carousel-info-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  text-align: left;
}

.owl-carousel-info {
  background-color: var(--section-bg-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.badge {
  background-color: var(--custom-btn-bg-color);
  font-family: var(--title-font-family);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  padding-bottom: 5px;
}

.owl-carousel-info-wrap .social-share,
.team-thumb .social-share {
  position: absolute;
  right: 0;
  bottom: 0;
}

.owl-carousel-info-wrap .social-icon,
.team-thumb .social-icon {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(0);
  padding-right: 20px;
  padding-left: 20px;
}

.owl-carousel
  .owl-item.active.center
  .owl-carousel-info-wrap:hover
  .social-icon,
.team-thumb:hover .social-icon {
  transform: translateY(-100%);
  opacity: 1;
}

.owl-carousel-info-wrap .social-icon-item,
.owl-carousel-info-wrap .social-icon-link,
.team-thumb .social-icon-item,
.team-thumb .social-icon-link {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
}

.owl-carousel-info-wrap .social-icon-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.owl-carousel .owl-dots {
  background-color: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: var(--border-radius-large);
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  padding: 15px 25px;
  padding-bottom: 7px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--secondary-color);
}

/*---------------------------------------
  CUSTOM BLOCK              
-----------------------------------------*/
.custom-block {
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
}

.custom-block:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-color: transparent;
  transform: translateY(-3px);
}

.custom-block-info {
  display: block;
  padding: 10px 20px;
  padding-bottom: 0;
}

.custom-block-image-wrap {
  position: relative;
  display: block;
  height: 100%;
}

.custom-block-image-wrap > a {
  display: block;
}

.custom-block-image {
  border-radius: var(--border-radius-medium);
  display: block;
  width: 112px;
  height: 112px;
  object-fit: cover;
}

.custom-block-image-detail-page .custom-block-image {
  width: 100%;
  height: 212px;
}

.custom-block .custom-block-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-block-icon-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.custom-block-icon-wrap .section-overlay {
  opacity: 0.25;
}

.custom-block-btn-group {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
}

.custom-block-btn-group .custom-block-icon {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

.custom-block-icon {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--p-font-size);
  color: var(--white-color);
  text-align: center;
  width: 32.5px;
  height: 32.5px;
  line-height: 32.5px;
  transition: all 0.3s;
}

.custom-block-icon:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.custom-block .custom-btn {
  font-size: var(--menu-font-size);
  padding: 7px 15px;
}

.custom-block .custom-block-info + div .badge {
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px !important;
  font-size: var(--menu-font-size);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-block .custom-block-info + div .badge:hover {
  background-color: var(--secondary-color);
}

.custom-block-full {
  background-color: var(--section-bg-color);
  border-color: transparent;
}

.custom-block-full:hover {
  border-color: var(--primary-color);
}

.custom-block-full .custom-block-info {
  padding: 20px;
  padding-bottom: 0;
}

.custom-block-full .custom-block-image {
  width: 100%;
  height: 210px;
}

.custom-block-full .social-share {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
}

.custom-block-top small {
  color: var(--p-color);
  font-family: var(--title-font-family);
}

.custom-block-top .badge {
  background-color: var(--secondary-color);
  color: var(--white-color);
  display: inline-block;
  vertical-align: middle;
  height: 26.64px;
  line-height: 20px;
}

.custom-block-bottom a:hover span {
  color: var(--primary-color);
}

.custom-block-bottom a span {
  font-family: var(--title-font-family);
  color: var(--p-color);
  text-transform: uppercase;
  margin-left: 3px;
}

.custom-block-overlay {
  border-color: transparent;
  padding: 0;
}

.custom-block-overlay .custom-block-image {
  margin: auto;
  width: 100%;
  height: 210px;
  transition: all 0.3s;
}

.custom-block-overlay:hover .custom-block-image {
  padding: 15px;
  padding-bottom: 0;
}

.custom-block-overlay-info {
  padding: 15px 20px 20px 20px;
}

/*---------------------------------------
  PROIFLE BLOCK               
-----------------------------------------*/
.profile-block {
  margin-top: 10px;
}

.profile-block-image {
  border-radius: var(--border-radius-large);
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.profile-block p strong {
  display: block;
  font-family: var(--title-font-family);
}

.profile-detail-block {
  border: 1px solid #dee2e6;
  border-radius: var(--border-radius-large);
  padding: 25px 35px;
}

.profile-detail-block p {
  margin-bottom: 0;
}

/*---------------------------------------
  ABOUT & TEAM SECTION               
-----------------------------------------*/
.about-image {
  border-radius: var(--border-radius-medium);
  display: block;
}

.team-thumb {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.team-info {
  background-color: var(--white-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

/*---------------------------------------
  PAGINATION               
-----------------------------------------*/
.pagination {
  border: 1px solid #dee2e6;
  border-radius: var(--border-radius-large);
  padding: 20px;
}

.page-link {
  border: 0;
  border-radius: var(--border-radius-small);
  color: var(--p-color);
  font-family: var(--title-font-family);
  margin: 0 5px;
  padding: 10px 20px;
}

.page-link:hover,
.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.page-item:first-child .page-link {
  margin-right: 10px;
}

.active > .page-link,
.page-link.active {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-info p strong {
  font-family: var(--title-font-family);
  min-width: 90px;
}

.contact-info p a {
  color: var(--p-color);
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.contact-info p a:hover {
  color: var(--secondary-color);
}

.google-map {
  border-radius: var(--border-radius-medium);
}

.contact-form .form-floating > textarea {
  border-radius: var(--border-radius-medium);
  height: 150px;
}

/*---------------------------------------
  SUBSCRIBE FORM               
-----------------------------------------*/
.subscribe-form-wrap {
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius-small);
  width: 80%;
  position: relative;
  top: 12px;
  padding: 35px;
}

.subscribe-form-wrap h6 {
  background: var(--dark-color);
  border-radius: var(--border-radius-medium);
  color: var(--primary-color);
  text-align: center;
  position: relative;
  bottom: 55px;
  margin-bottom: -25px;
  padding: 8px;
}

.subscribe-form #subscribe-email {
  border: 0;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.subscribe-form #submit {
  border-radius: 0 0 10px 10px;
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-small);
  color: var(--p-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  margin-bottom: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  outline: none;
}

.form-floating > label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--dark-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

/*---------------------------------------
  SEARCH FORM               
-----------------------------------------*/
.search-form .form-control {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 0;
  margin-bottom: 0;
}

.search-form button[type="submit"] {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  max-width: 50px;
  height: 100%;
  padding-left: 15px;
}

.search-form button[type="submit"]:hover {
  background: var(--primary-color);
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-image: url("../images/templatemo-wave-footer.pnng");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  /* padding-top: 100px; */
  padding-bottom: 150px;
  /* padding-left: 10%; */
}

@media(max-width:900px){
  .site-footer{
    padding-left: 2.5rem;
  }
}
.site-footer > .container {
  position: relative;
  top: 50px;
  padding-top: 100px;
  /* margin-left: 10%; */
}

.site-footer-title,
.site-footer p {
  color: var(--dark-color);
}

.site-footer p strong {
  font-family: var(--title-font-family);
}

.site-footer p a {
  color: var(--dark-color);
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.site-footer p a:hover {
  color: var(--secondary-color);
}

.site-footer-thumb a img {
  display: block;
  width: 120px;
  min-width: 120px;
  height: auto;
}

.site-footer-links {
  margin-bottom: 0;
  padding-left: 0;
}

.site-footer-link-item {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}

.site-footer-link {
  color: var(--dark-color);
  font-size: var(--p-font-size);
  line-height: inherit;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--dark-color);
  font-size: var(--p-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--dark-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 2160px) {
  .hero-section {
    background-size: 100% 90%;
    /* T o o p l a t e . c o m   C u s t o m i z e d */
  }
}

@media screen and (min-width: 1600px) {
  .site-footer {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 1240px) {
  .hero-section {
    background-size: 116%;
    /* T o o p l a t e . c o m   C u s t o m i z e d */
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .hero-section {
    background-size: 160% 66%;
    /* T o o p l a t e . c o m   C u s t o m i z e d */
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar-nav {
    background-color: #e3e3e3;
    border-radius: var(--border-radius-medium);
    padding: 30px;
  }

  .navbar-nav .nav-link {
    padding: 5px 0;
  }

  .navbar-nav .dropdown-menu {
    position: relative;
    left: 10px;
    opacity: 1;
    pointer-events: auto;
    max-width: 155px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .nav-tabs .nav-link:first-child {
    margin-right: 5px;
  }

  .nav-tabs .nav-link {
    font-size: var(--copyright-font-size);
    padding: 10px;
  }

  .copyright-text {
    text-align: center;
  }

  .site-footer {
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 100px;
    
  }
}

@media screen and (max-width: 540px) {
  .hero-section {
    background-size: 180% 65%;
    /* T o o p l a t e . c o m   C u s t o m i z e d */
  }

  .custom-block .custom-block-top {
    flex-direction: column;
  }

  .custom-block .custom-block-top small:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}

@media screen and (max-width: 414px) {
  .search-form {
    max-width: 200px;
  }
}

.mv-detail .mv-title {
  margin: 1rem 0;
}

.mv-detail .mv-title span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #323232;
}

.mv-detail .mv-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  max-height: 700px;
}

.mv-detail .mv-desc {
  margin: 1rem 0;
}

.mv-detail .mv-desc .d-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #323232;
}

.mv-detail .mv-desc .desc {
  color: #323232;
  font-weight: 500;
}

.mv-detail .detail {
  margin: 1rem 0;
}

.mv-detail .detail-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #323232;
}

@media (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.mv-detail :is(.dt-whole) span {
  display: block;
  color: #000;
  font-weight: 500;
}
.mv-detail :is(.dt-whole) span strong {
  color: #00317a;
  font-size: 1.2rem;
}

.mv-detail .cast-title span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #323232;
}
.mv-detail .cast {
  margin: 2rem 0;
  text-align: justify;
  content: "";
  width: 100%;
  display: inline-block;
}

.mv-detail .cast .dt-casts {
  display: inline-block;
  vertical-align: top;
  /* display: inline; */
  margin: 0.5rem;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .mv-detail .cast {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mv-detail .cast .dt-casts img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: block;
}
.mv-detail .cast .dt-casts span {
  color: #323232;
  font-weight: 500;
}
.mv-teaser {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 56.25%; /* 9 / 16 * 100 */
}
.mv-teaser > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  border-radius: 1rem;
}
.mv-teaser-title {
  margin: 2rem 0 1rem 0;
}

.mv-teaser-title span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #323232;
}

.blog {
  margin: 0.2rem 0;
}

.blog-title {
  margin: 1rem;
  display: flex;
  /* text-align: left; */
  /* justify-content: center; */
}

.blog-title span.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-dark);
}

.blog-card {
  margin: 10px;
  overflow: hidden;
  width: 100%;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 4px;
  max-width: 250px;
}

.blog-header .blog-image {
  position: relative;
  display: block;
}

.blog-header .blog-image::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-color: hsla(0, 0%, 0%, 0.16);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.blog-header .blog-image:hover::after {
  opacity: 0;
}

.blog-header img {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}

.bl-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 1rem 8px 1rem;
}

.bl-title span {
  font-size:1rem;
  font-weight: 600;
  color: var(--gray-dark);
}

@media screen and (max-width: 771px) {
  .blog .container .col-lg-4 {
    display: flex;
  width:50%;
  height: 30%;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .blog .container .col-lg-4 {
    display: flex;
  width:25%;
  /* height: 50%; */
    justify-content: center;
  }
}
@media screen and (max-width: 1370px) {
.slide{
  /* max-width: 900px; */
}
}

hr{
  margin:0px;
  
  
}


/* progress  */
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  color: var(--primary-color);
  background-color: #ede9e9;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
 
}
